html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url("background1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.60);
    z-index: -1;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-icon {
    display: none;
}

.nav-brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-brand img {
    width: 50px;
    height: 50px;
}

.nav-brand span {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #a855f7;
}

.nav-cta {
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: linear-gradient(90deg, #7c3aed, #ec4899);
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.nav-cta:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

h1{
    text-align: center;
    font-size: 80px;
    font-family: 'Orbitron', sans-serif;
    margin-top: 40px;
}

p{
    width: 50%;
    margin: 100px auto;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

button{
    border: solid;
    border-radius: 40px;
    width: 160px;
    height: 80px;
    background: linear-gradient(to right, blue, rgb(249, 38, 73));
    color: rgb(255, 255, 255);
    margin: 30px;
    font-size: 20px;
    box-shadow: 0 0 10px rgb(144, 0, 255);
}

@media (max-width: 768px) {

    .nav-text {
        display: none;
    }

    .nav-icon {
        display: inline-block;
        font-size: 20px;
    }

    .navbar {
        padding: 6px 12px;
    }

    .nav-links {
        gap: 18px;
    }

    .nav-brand span {
        display: none;
    }

    h1 {
        font-size: 42px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0 10px;
    }

    p {
        width: 90%;
        margin: 20px auto;
        font-size: 16px;
    }

    button {
        width: 140px;
        height: 50px;
        font-size: 16px;
        margin: 20px auto;
    }

}
